<br>
<div class="jumbotron text-center">
    <h1> MEAN Stack App</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos fugit sed modi temporibus, alias maiores corrupti suscipit! Soluta iure iste nostrum quas a tempore assumenda, nihil debitis voluptas, autem optio!</p>
    <div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <h3>MongoDB</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque corrupti voluptate dignissimos! Laudantium, molestias incidunt. Vitae quam labore neque voluptates, in, tempora autem fugit dolore harum, ab aperiam aliquid laborum.</p>
    </div>
    <div class="col-md-3">
        <h3>Express</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque corrupti voluptate dignissimos! Laudantium, molestias incidunt. Vitae quam labore neque voluptates, in, tempora autem fugit dolore harum, ab aperiam aliquid laborum.</p>
    </div>
    <div class="col-md-3">
        <h3>Angular </h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque corrupti voluptate dignissimos! Laudantium, molestias incidunt. Vitae quam labore neque voluptates, in, tempora autem fugit dolore harum, ab aperiam aliquid laborum.</p>
    </div>
    <div class="col-md-3">
        <h3>NodeJS</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque corrupti voluptate dignissimos! Laudantium, molestias incidunt. Vitae quam labore neque voluptates, in, tempora autem fugit dolore harum, ab aperiam aliquid laborum.</p>
    </div>
</div>
